export ("dev")
export ("dev<-")
export ("hardclasses")
export ("luk")
export ("gdl")
export ("prd")
export ("and")
export ("wMAE")
export ("wMSE")
export ("wRMSE")
export ("confusion")
export ("sens")
export ("spec")
export ("ppv")
export ("npv")
export ("postproc")
export ("postproc<-")
export ("softperformance.unittest")
