exportMethods ("colSums")
exportMethods ("colMeans")
exportMethods ("rowSums")
exportMethods ("rowMeans")
export ("delold")
export ("makeNd")
export ("restoredim")
exportMethods ("rowsum")
export ("ta")
export ("arrayhelpers.unittest")
