exportMethods ("colSums")
exportMethods ("colMeans")
exportMethods ("rowSums")
exportMethods ("rowMeans")
export ("delold")
export ("dropdimnames")
export ("lon")
export ("ensuredim")
export ("drop1d")
export ("groupsum")
export ("makeNd")
export ("ndim")
export ("numericindex")
export ("restoredim")
exportMethods ("rowsum")
export ("ta")
export ("arrayhelpers.unittest")
