exportMethods ("colSums")
export ("colSums.AsIs")
exportMethods ("colMeans")
export ("colMeans.AsIs")
exportMethods ("rowSums")
export ("rowSums.AsIs")
exportMethods ("rowMeans")
export ("rowMeans.AsIs")
export ("delold")
export ("dropdimnames")
export ("lon")
export ("ensuredim")
export ("drop1d")
export ("groupsum")
export ("makeNd")
export ("ndim")
export ("numericindex")
export ("restoredim")
exportMethods ("rowsum")
export ("ta")
export ("arrayhelpers.unittest")
