  <div id="nav">
	 <h2>Navigation</h2>
	 <ul>
		<li><a href="/index.html">Home</a></li>
		<li><a href="/news.html">NEWS</a></li>
		<li><a href="/license.html">License</a></li>
		<li><a href="/installation.html">Download &amp; Installation</a></li>
		<li><a href="/literature.html">Literature about softclassval</a></li>
<!--		<li><a href="/applications.html">Applications/Use Cases</a></li> -->
		<li>Documentation</li>
		<li><a href="/faq.html">FAQ</a></li>
		<li><a href="/contact.html">Contact</a></li>
		<li><a href="/posts.html">All <tt>softclassval</tt> blog posts</a></li>
		<li><a href="/credits.html">Credits<a></li>
	 </ul>
  </div>
