		<div id="share">
		  <h2>Contact</h2>
		  Claudia Beleites<br/>
		  Dept. of Spectroscopy &middot; Imaging<br/> 
		  <a href="http://www.ipht-jena.de">Institute of Photonic Technologies</a><br/>
		  07743 Jena/Germany<br/>
		  e-mail: <tt><a href="mailto:claudia dot beleites at ipht minus jena dot de">claudia dot beleites at ipht minus jena dot de</a></tt>
		  <hr/>
		  Claudia Beleites<br/>
		  Chemometrische Beratung<br/> 
		  Am Eichberg 9<br/>
		  61231 Bad Nauheim/Germany<br/>
		  e-mail: <tt><a href="mailto:chemometrie at beleites dot de">chemometrie at beleites dot de</a></tt>
		</div>
