/*font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; */
body {
	 background: #ffe;
	 font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
	 font-size: 95%; /* Resets UA 16px common default such that 1em = 10px. Kudos to Richard Rutter. */
	 line-height: 1.5; /* We can use unitless numbers here; they act as multiples of the font-size. */
	 color: #000;
	 width: 75em;
	 line-height: 1.5;
	 text-align: justify; /* For IE centering. */
	 margin: auto;
	 padding-left: 1ex;
	 padding-right: 1ex;

}

div#pagenav {
}

div#nav {
	 text-width= 18em;
	 margin = 1em 1em 0px auto;
	 float: left;
}
div#header {
	 background:  #050;
	 color:#fff;
	 text-align: center;

	 box-shadow: 0 0 4em #bca;
	 -webkit-box-shadow: 0 0 4em #bca;
	 -moz-box-shadow: 0 0 4em #bca;

	 border-radius:2em;
	 -webkit-border-radius:2em;
	 -moz-border-radius:2em;

	 padding: 2em;
	 margin-top: 1em;
	 margin-bottom: 2em;

	 text-align: center;
	 vertical-align: middle;
}

div#header>h1 {
display: inline;
padding: 0.5em;
text-align: center;
vertical-align: middle;
margin-bottom: 0.25em; /* 24 */
padding-bottom: 0.25em;
font-size: 4.25em;
}

div#header>p{
margin-top: 2em;
line-height: 1.5;
font-size: 1.5em;
align: justify;
}

div#share{
float:right;
width: 18em;
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
font-size: 0.9em;
padding-right: 1em;
}
hr { 
color: #bca; 
} 

tt {
	 font-size:140%;
	 letter-spacing: -0.1em;
}

code {
	 font-size:120%;
}
pre {
   background-color: #eee; 
}

h1 {
/*	 position: relative;
	 text-align: center;*/
	 line-height: 1.25;
	 font-size: 3em;
	 font-weight: bold;
	 font-style: normal;
	 
/*	 letter-spacing: 0.031em; /* 2 */
}


div#container {
	 margin: 0em 18em 0 auto;
	 padding: 0;
/*	 background-color: white; */
/*	 border-top:  #bca 1px solid;*/
	 text-align: justify;
	 width: 43em; /* 960 minus the gutters (48 on each side). */
}
div#content {
	 margin: 0;
	 padding: 0;
}
h1,h2, h3, h4, h5, h6 { 
	 font-family: "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;
}
div#header h1 {color: #FFF}
h1 { font-size: 2em; margin: 0em; margin-bottom: 0.5em; /* 16 */ }
h2 { font-size: 1.4em; margin: 0; /* 16 */ }
h3, div.post h2 { font-size: 1.2em; margin: 0; }
h4, div.post h3  {  font-size: 1em; font-weight: bold; margin: 0em;/* 16 */ }
h5, div.post h4  { text-transform: uppercase; letter-spacing: 1px;  margin: 0em;/* 16 */ }

a, a:hover, a:active, a:focus { text-decoration: none; }
a { color: #050; 
}
a:hover, a:active, a:focus {
color: #050;
border-bottom: 1px solid #050;
/*background-color: #d2fbd2;*/
}
a.internal {
        color: #004000;
        font-family: "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;
        }
a.internal:hover, a.internal:active, a.internal:focus { color: #006000; }
abbr, acronym, .caps {
	 font-style: normal;
	 letter-spacing: 0.062em; /* 1; Calculated for the copy at 16 */
/*	 text-transform: lowercase; */
	 font-variant: small-caps;
}
input[type=submit], label, select, .pointer { cursor: pointer; }
/*
h1 a span.italic { font-style: italic; }
h1 a span.middot { color: #666; }
h1 a:hover span.hoverline { border-bottom: 1px solid #999; }
h1 a { color: #006000; }
h1 a:hover, h1 a:active, h1 a:focus {
	 color: #008000;
	 border: none;
	 background-color: white;
}*/
div#nav, div#share {
	 font-family: "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;
	 font-size: 85%;
}

div#nav a {
	 color: black;
}

div#nav ul {
	 margin: 0; padding: 0;
	 list-style: disc outside;
}
div#nav li {
	 list-style: none;
}
div#nav ul ul {
    margin-left: 1ex; padding: 0;
}

div#nav ul ul li{
	list-style: none;
}

div#share tt { 
	 font-size: 125%
}

div#address {
	 border: 1px solid #050;
	 width: 32em;
	 padding: 1ex;
	 border-radius:1ex;
	 -webkit-border-radius:1ex;
	 -moz-border-radius:1ex;
	 font-family: "Lucida Grande", Verdana, "DejaVu Sans", sans-serif;
	 background-color: #efe;
}
div.post {
	 border: 1px solid #ada;
	 margin: 0em;
	 margin-bottom: 1em;
	 padding: 1ex;
	 padding-top: -1em;
	 border-radius:1ex;
	 -webkit-border-radius:1ex;
	 -moz-border-radius:1ex;
}

span#tag {
	 border: 1px solid #8a8;
	 background: #efd;
	 margin: 0em;
	 margin-right: 1em;
	 padding: 1px;
	 padding-left: 1ex;
	 padding-right: 1ex;
	 border-radius:1ex;
	 -webkit-border-radius:1ex;
	 -moz-border-radius:1ex;
	 font-size: 80%;
	 float: right;
}

div.paper h2{
	 font-size: 1.2em; color: #050; margin: 0em; margin-bottom: 0.5em; /* 16 */ }
}
div.paper h3 { font-size: 80%; color: black;margin: 0em; margin-bottom: 0.5em;}

span.title {
	 color: #050;
	 font-style: italic;
}
li.literature {margin-bottom: 1em;}

li.literature a {color: black;};


p { padding: 0; text-align: justify; padding-bottom: 1em;}
p#footer {
border-top: 1px solid #ada;
padding: 0;
padding-top: 2px;
margin-top: 0;
margin-bottom: 0;
}
